.character-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  text-align: left;
  transition: transform 0.2s, box-shadow 0.2s;
  margin: 15px;
}

.character-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.character-card img {
  width: 250px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.character-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}

.character-card h3 {
  font-size: 1.8rem;
  margin: 15px 0;
  font-family: 'Ninja Naruto', sans-serif;
  color: #ff9900;
  letter-spacing: 0.1rem;
  word-spacing: 0.2rem;
}

.character-card p {
  margin: 5px 0;
  font-size: 1.1rem;
  color: #666;
}

.character-info ul {
  list-style-type: disc;
  padding-left: 20px;
  margin: 5px 0;
}

.character-info ul li {
  margin-bottom: 5px;
  font-size: 1rem;
  color: #444;
  text-transform: capitalize;
}

.character-card button {
  padding: 10px 5px;
  border: none;
  border-radius: 5px;
  background-color: #ff9900;
  color: white;
  cursor: pointer;
  font-size: 1.1rem;
  min-width: 100px;
  max-width: 200px;
  width: 100%;
  transition: background-color 0.3s, transform 0.2s;
}

.character-card button:hover {
  background-color: #e2e2e2;
  transform: scale(1.05);
}

